<a href="https://colab.research.google.com/github/Saurabh0888/learning/blob/master/ML_Col_Transformer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [41]:
import pandas as pd
from numpy import mean,std,absolute
from sklearn.preprocessing import OneHotEncoder, MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.svm import SVR
from sklearn.pipeline import Pipeline 
from sklearn.model_selection import KFold, cross_val_score

In [ ]:
url = 'https://raw.githubusercontent.com/jbrownlee/Datasets/master/abalone.csv'
df= pd.read_csv(url, header= None)
print(df.shape)
df.head()

(4177, 9)

   0      1      2      3       4       5       6      7   8
0  M  0.455  0.365  0.095  0.5140  0.2245  0.1010  0.150  15
1  M  0.350  0.265  0.090  0.2255  0.0995  0.0485  0.070   7
2  F  0.530  0.420  0.135  0.6770  0.2565  0.1415  0.210   9
3  M  0.440  0.365  0.125  0.5160  0.2155  0.1140  0.155  10
4  I  0.330  0.255  0.080  0.2050  0.0895  0.0395  0.055   7

In [ ]:
df.dtypes

0     object
1    float64
2    float64
3    float64
4    float64
5    float64
6    float64
7    float64
8      int64
dtype: object

In [ ]:
df.isnull().sum()

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
dtype: int64

In [36]:
last_ix= len(df.columns)-1
x, y= df.drop(last_ix, axis=1), df[last_ix]
print(x.shape, y.shape)
x[0:2]

(4177, 8) (4177,)

   0      1      2      3       4       5       6     7
0  M  0.455  0.365  0.095  0.5140  0.2245  0.1010  0.15
1  M  0.350  0.265  0.090  0.2255  0.0995  0.0485  0.07

In [27]:
x_cat= x.select_dtypes(include= ['object','bool']).columns
x_num= x.select_dtypes(include= ['float64','int64']).columns
print(x_cat, x_num)

Int64Index([0], dtype='int64') Int64Index([1, 2, 3, 4, 5, 6, 7], dtype='int64')

In [42]:
t= [('cat', OneHotEncoder(), x_cat),('int', MinMaxScaler(), x_num)]
col_tran= ColumnTransformer(transformers= t)

In [47]:
# define the model
model = SVR(kernel='rbf',gamma='scale',C=100)
pipeline= Pipeline(steps= [('preprocessing', col_tran), ('model', model)])

cv= KFold(n_splits= 5, shuffle= True, random_state= 101)

cvs= cross_val_score(pipeline, x, y, cv= cv, scoring = 'neg_mean_absolute_error', n_jobs= -1)

score= absolute(cvs)
print(f'The mean and std is  {mean(score):.3f} and {std(score):.3f}')

The mean and std is  1.467 and 0.045

 ### Complete code by me

In [33]:
import pandas as pd
from numpy import absolute, std, mean
from sklearn.preprocessing import OneHotEncoder, MinMaxScaler
from sklearn.model_selection import train_test_split, KFold, cross_val_score
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.svm import SVR


url = 'https://raw.githubusercontent.com/jbrownlee/Datasets/master/abalone.csv'
df= pd.read_csv(url, header= None)
print(df.shape)
# print(df.isnull().sum())
last_col= len(df.columns)-1
x, y= df.drop(last_col, axis=1), df[last_col]
print(x.shape, y.shape)
df_cat= x.select_dtypes(include= ['object','bool']).columns
df_num= x.select_dtypes(include= ['int64','float64']).columns

t= [('cat', OneHotEncoder(),df_cat), ('num', MinMaxScaler(), df_num)]
ct= ColumnTransformer(transformers= t, remainder= 'passthrough')
model = SVR(kernel='rbf',gamma='scale',C=100)
pipeline= Pipeline(steps= [('pre', ct), ('model', model)])

cv= KFold(n_splits= 10, shuffle= True, random_state= 100)
score= cross_val_score(pipeline, x, y, scoring= 'neg_mean_absolute_error',cv= cv, n_jobs= -1)

score= absolute(score)
print(f'The mean error is {mean(score):.3f} ({std(score):.3f})')

(4177, 9)
(4177, 8) (4177,)
The mean error is 1.467 (0.053)

## Actual code from the internet

In [40]:

# example of using the ColumnTransformer for the Abalone dataset
from numpy import mean
from numpy import std
from numpy import absolute
from pandas import read_csv
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.svm import SVR
 
# load dataset
url = 'https://raw.githubusercontent.com/jbrownlee/Datasets/master/abalone.csv'
dataframe = read_csv(url, header=None)
# split into inputs and outputs
last_ix = len(dataframe.columns) - 1
X, y = dataframe.drop(last_ix, axis=1), dataframe[last_ix]
print(X.shape, y.shape)
# determine categorical and numerical features
numerical_ix = X.select_dtypes(include=['int64', 'float64']).columns
categorical_ix = X.select_dtypes(include=['object', 'bool']).columns
# define the data preparation for the columns
t = [('cat', OneHotEncoder(), categorical_ix), ('num', MinMaxScaler(), numerical_ix)]
col_transform = ColumnTransformer(transformers=t)
# define the model
model = SVR(kernel='rbf',gamma='scale',C=100)
# define the data preparation and modeling pipeline
pipeline = Pipeline(steps=[('prep',col_transform), ('m', model)])
# define the model cross-validation configuration
cv = KFold(n_splits=10, shuffle=True, random_state=1)
# evaluate the pipeline using cross validation and calculate MAE
scores = cross_val_score(pipeline, X, y, scoring='neg_mean_absolute_error', cv=cv, n_jobs=-1)
# convert MAE scores to positive values
scores = absolute(scores)
# summarize the model performance
print('MAE: %.3f (%.3f)' % (mean(scores), std(scores)))

(4177, 8) (4177,)
MAE: 1.465 (0.047)