<a href="https://colab.research.google.com/github/Saurabh0888/learning/blob/master/ML_Learning_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [67]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [41]:
url = "https://raw.githubusercontent.com/jbrownlee/Datasets/master/breast-cancer.csv"
df= pd.read_csv(url, names=['a','b','c','d','e','f','g','h','i','j'])
df.shape

(286, 10)

In [42]:
df.head()

,a,b,c,d,e,f,g,h,i,j
0,'40-49','premeno','15-19','0-2','yes','3','right','left_up','no','recurrence-events'
1,'50-59','ge40','15-19','0-2','no','1','right','central','no','no-recurrence-events'
2,'50-59','ge40','35-39','0-2','no','2','left','left_low','no','recurrence-events'
3,'40-49','premeno','35-39','0-2','yes','3','right','left_low','yes','no-recurrence-events'
4,'40-49','premeno','30-34','3-5','yes','2','left','right_up','no','recurrence-events'

In [43]:
df.dtypes

a    object
b    object
c    object
d    object
e    object
f    object
g    object
h    object
i    object
j    object
dtype: object

In [45]:
df.isnull().sum()

a    0
b    0
c    0
d    0
e    8
f    0
g    0
h    1
i    0
j    0
dtype: int64

In [48]:
df['e'].value_counts()

'no'     222
'yes'     56
Name: e, dtype: int64

In [51]:
df.dropna(axis= 0, how='any', inplace=True)
df.shape

(277, 10)

In [37]:
# dict = {'First_Score':[100, np.nan, np.nan, 95],
#         'Second_Score': [30, np.nan, 45, 56],
#         'Third_Score':[52, np.nan, 80, 98],
#         'Fourth_Score':[np.nan, np.nan, np.nan, 65]}
 
# # creating a dataframe from dictionary
# df = pd.DataFrame(dict)
# df

   First_Score  Second_Score  Third_Score  Fourth_Score
0        100.0          30.0         52.0           NaN
1          NaN           NaN          NaN           NaN
2          NaN          45.0         80.0           NaN
3         95.0          56.0         98.0          65.0

In [52]:
ds=  df.values
ds.shape

(277, 10)

In [53]:
x= ds[:,:-1].astype(str)
y= ds[:,-1].astype(str)
print(x.shape, y.shape)

(277, 9) (277,)

In [54]:
x= np.asarray(x)
y= np.asarray(y)
print(x.shape,y.shape)

(277, 9) (277,)

In [55]:
x_train,x_test, y_train, y_test= train_test_split(x, y, test_size=0.3, random_state=101)
print(x_train.shape, y_train.shape)

(193, 9) (193,)

In [56]:
onehotencoder= OneHotEncoder(sparse= False)
onehotencoder.fit(x_train)

x_train= onehotencoder.transform(x_train)
x_test= onehotencoder.transform(x_test)

labelencoder= LabelEncoder()
labelencoder.fit(y_train)

y_train= labelencoder.transform(y_train)
y_test= labelencoder.transform(y_test)

In [61]:
print(x_train.shape, x_test.shape)
print(y_train.shape, y_test.shape)

(193, 41) (84, 41)
(193,) (84,)

In [74]:
lr= LogisticRegression()
lr.fit(x_train,  y_train)
train_predict= lr.predict(x_train)

print(f'Training score is :{accuracy_score(y_train, train_predict)}')

test_predict= lr.predict(x_test)
print(f'Test score is :{accuracy_score(y_test, test_predict)}')

Training score is :0.7927461139896373
Test score is :0.7023809523809523

In [65]:

# example of a one hot encoding
from numpy import asarray
from sklearn.preprocessing import OneHotEncoder
# define data
data = asarray(['red', 'green', 'blue'])
data= data.reshape(1,-1)
print(data)

# define one hot encoding
encoder = OneHotEncoder(sparse=False)
# transform data
onehot = encoder.fit_transform(data)
print(onehot)

[['red' 'green' 'blue']]
[[1. 1. 1.]]